<%- include('partials/header') -%>

<main class="container">
    <div>
        <a href="/teachers" class="btn btn-primary"> Teachers</a>
        <a href="/students/login" class="btn btn-primary"> Students</a>
    </div>
</main>

<%- include('partials/footer') -%>
