<%- include('../partials/header') -%>

<main class="container">
    <div>
        <a href="/teachers/login" class="btn">Login</a>
        <a href="/teachers/signup" class="btn">Sign up</a>
    </div>
    <div>
        <a href="/" class="btn">Back home</a>
    </div>
</main>

<%- include('../partials/footer') -%>
